// Default Shadow
$shadow_config: (
  sm:       (0 .125rem .25rem  rgba(theme-color(black), .075)),
  md:       (0 .5rem   1rem    rgba(theme-color(black), .15 )),
  lg:       (0 1rem    3rem    rgba(theme-color(black), .175)),
  slim:     (0 2px     2px     rgba(theme-color(black), 0.2 )),
  wrapper:  (0 2px     6px     rgba(theme-color(black), 0.16)),
) !default;

@mixin shadow($name) {
  box-shadow: map-get($shadow_config, $name);
}
