@import '/src/Library/SCSS/base';


// Default style, no matter what state
button,
a.btn,
input[type=button] {

    &, &:hover, &:active, &:visited {   
        padding: 5px 10px;
        border: 1px solid transparent;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;
    }

    &.primaryBtn {
        background-color: theme-color(btn-primary);
        border-color: theme-color(btn-primary);
        color: theme-color(btn-primary-text);
    }

    &.iconBtn {
        $size: 36px;
        
        border-color: theme-color(grey07);
        @include dimen($size);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
    }

}